{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
        <link rel="stylesheet" href="{% static './css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'css/header.css' %}" />
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
		<link rel="stylesheet" href="{% static './css/sections.css' %}" />



    <title>{%block title %}{% endblock title %}</title>
</head>
<body>
    <header class="center-row">
        <!-- left side -->
        <div class="logo center-row">
            <a href="{% url 'home' %}"> <h2>Home</h2></a>
        </div>
        <!-- right side -->
        <nav class="nav-menu">
            <!-- Hamburger button -->
            <input type="checkbox" id="check-option" />

            <div class="nav-btn">
                <label for="check-option">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <!-- The menu -->
            <div class="nav-option center-row">
                <a href="{% url 'about' %}">About me</a>
                <a href="{% url 'projects' %}">Projects</a>
                <a href="">Experience</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}
    <h2>Here is my footer</h2>
</body>
</html>